.phoneRange {
    width: 350px;
    height: 222px;
    overflow-y:scroll;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top: 50px;
    border:solid;
    border-width:1.75px;
}

.messageSent {
    overflow:auto;
    width: 350px;
    height: 152px;
    position: absolute;
    left: 50%;
    top:370px;
    font-size:20px;
    transform:translate(-50%);
}

.plusButton {
    border-style: none;
    width: 60px;
    height: 60px;
    position:absolute;
    left:40%;
    top:295px;
    font-size: 250%;
    background-color:grey;
    color:white;
    display: inline-block;
    transform:translate(-60%);
}

.minusButton {
    border-style: none;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 60%;
    top: 295px;
    font-size: 250%;
    background-color:grey;
    color:white;
    display: inline-block;
    transform:translate(-40%);
}

.sendButton {
    border-style: none;
    width: 85px;
    height: 50px;
    position:absolute;
    left: 50%;
    top: 550px;
    font-size:large;
    background-color:grey;
    color:white;
    display: inline-block;
    transform: translate(-50%);
}

.numberSpace {
    position:relative;
    left:10px;
    width:270px;
    height:25px;
    font-size:18px;
}

.to {
    position:relative;
    left:10px;
    font-size:25px;
}
