body {
}

.phoneRange {
    width: 300px;
    height: 222px;
    overflow-y:scroll;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top: 50px;
}

.messageSent {
    overflow:auto;
    width: 300px;
    height: 152px;
    position: absolute;
    left: 50%;
    top:370px;
    font-size:15px;
    transform:translate(-50%);
}

.plusButton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    max-width:100%;
    width: 60px;
    height: 60px;
    position:absolute;
    left:40%;
    top:290px;
    font-size: 250%;
    background-color:grey;
    color:white;
    display: inline-block;
    transform:translate(-55%);
}

.minusButton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    max-width:100%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 60%;
    top: 290px;
    font-size: 250%;
    background-color:grey;
    color:white;
    display: inline-block;
    transform:translate(-45%);
}

.sendButton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 85px;
    height: 50px;
    position:absolute;
    left: 50%;
    top: 550px;
    font-size:large;
    background-color:grey;
    color:white;
    display: inline-block;
    transform: translate(-50%);
}

.numberSpace {
    position:relative;
    left:10px;
    width:220px;
    height:25px;
}

.to {
    position:relative;
    left:10px;
    font-size:25px;
}
